* {
	box-sizing: border-box;
}

html,
body {
	font: 16px 'Open Sans', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

/*** Heading ***/

.header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	z-index: 1000;
	background: linear-gradient(90deg, #F6B352 0%, #F68657 100%);
	transition: 0.5s;
}

.header-hamburger {
	height: 100%;
}

.header-container,
.logo,
.kitsoft, 
.navbar-container,
.nav-container,
.main-nav,
.kitsoft h1 {
	margin: 0;
	padding: 0;
}

.header-container {
	margin: .5em;
}

.logo-title-ham-container {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	display: flex;
}

.logo {
	width: 20%;
}

.kitsoft {
	width: 60%;
	height: 100%;
}

.kitsoft h1 {
	letter-spacing: 0.125rem;
    text-transform: uppercase;
    color: #ffeee4;
    text-align: center;
}

.hamburger-container {
	width: 20%;
	display: flex;
	justify-content: flex-end;
}

.hamburger {
	margin-top: .3em;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
	margin: .4em .2em;
	width: 40px;
	height: 5px;
	background: #FFBC42;
}

/*** Navigation ***/

.navbar {
	visibility: hidden;
	opacity: 0;
	transition: .5s;
}

.navbar-hamburger {
	visibility: visible;
	opacity: 1;
}

.navbar-container {
	transform: translateY(100%);
}

.main-nav li {
	margin: 0;
	padding: 10px;
	list-style: none;
	border-bottom: solid 1px #e0e3da;
	transition: all .3s ease;
}

.main-nav a {
	padding: 10px 15px;
	display: block;
	font-size: 1.2em;
	text-decoration: none;
	color: #ffeee4;
}

.main-nav a:hover {
	color: #EC7357;
	transition: all .5s ease;
}

/*** Banner ***/

.banner-container {
	padding: 1em;	
	background: #f5f5f5;
}

.banner-container h1 {
	margin: 10em 0;
}

.banner-container,
.content-container,
.main-nav,
.logo-title-ham-container,
footer {
	text-align: center;
}

/*** Content ***/

.col {
	margin: 2em;
	padding: 2em;

}

/*** Footer ***/
footer {
	padding: 10em 0;
	background: #f0f5f9;
	margin-top: 30px;
	text-align: center;
}

/*** Media Query ***/

@media (min-width: 830px) {

	.hamburger-container {
		display: none;
	}

	.header-container,
	.logo-title-ham-container,
	.navbar-container,
	.main-nav {
		display: flex;
	}

	.logo-title-ham-container {
		width: 30%;
		justify-content: flex-start;
	}

	.navbar-container {
		width: 70%;
		justify-content: flex-end;
	}

	.col {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	.main-nav li {
		border-bottom: none;
	}

	.header,
	.header-hamburger {
		height: 80px;
	}

	.navbar {
		visibility: visible;
		opacity: 1;
	}

}

