* {
	box-sizing: border-box;
}

html,
body {
	font-family: 'Helvetica Neue', 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

/*** Heading ***/
header {
	width: 100%;
	max-height: 80px;
	position: fixed;
	top: 0;
	z-index: 1000;
	background: #fff;
}

.header-container,
.logo,
.kitsoft, 
.navbar-container,
.nav-container,
.main-nav,
.kitsoft h1 {
	margin: 0;
	padding: 0;
}

.logo-title-container {
	width: 50%;
	margin: 0 auto;
	padding: 0;
	display: flex;
}

.logo {
	width: 30%;
	background: red;
}

.kitsoft {
	width: 70%;
	height: 100%;
}

/*** Navigation ***/
.navbar-container {
	display: none;
}

.main-nav li {
	margin: 0;
	padding: 10px;
	list-style: none;
}

.main-nav a {
	padding: 10px 15px;
	display: block;
	font-size: .95em;
	text-decoration: none;
}

/*** Banner ***/

.banner-container {
	padding: 1em;	
	background: linear-gradient(90deg, #F6B352 0%, #F68657 100%);
}

.banner-container h1 {
	margin: 10em 0;
}

.banner-container,
.content-container,
.main-nav,
.logo-title-container,
footer {
	text-align: center;
}

/*** Content ***/
.col {
	margin: 2em;
	padding: 2em;
}

/*** Footer ***/
footer {
	padding: 10em 0;
	background: #f0f5f9;
	margin-top: 30px;
	text-align: center;
}

/*** Media Query ***/

@media (min-width: 830px) {

	.header-container,
	.logo-title-container,
	.navbar-container,
	.main-nav {
		display: flex;
	}

	.logo-title-container {
		width: 30%;
		justify-content: flex-start;
	}

	.navbar-container {
		width: 70%;
		justify-content: flex-end;
	}

	.col {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}

