* {
	box-sizing: border-box;
}

html,
body {
	font: 16px 'Open Sans', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

/*** Heading ***/

.header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	z-index: 1000;
	background: linear-gradient(90deg, #F6B352 0%, #F68657 100%);
	background: #54546c;
	transition: 0.5s;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.header-hamburger {
	height: 100%;
}

.header-container,
.logo,
.kitsoft, 
.navbar-container,
.nav-container,
.main-nav,
.kitsoft h1 {
	margin: 0;
	padding: 0;
}

.header-container {
	margin: .5em;
}

.logo-title-ham-container {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	display: flex;
}

.logo {
	width: 20%;
}

.kitsoft {
	width: 60%;
	height: 100%;
}

.kitsoft h1 {
	letter-spacing: 0.125rem;
    text-transform: uppercase;
    color: #ffeee4;
    text-align: center;
}

.hamburger-container {
	width: 20%;
	display: flex;
	justify-content: flex-end;
}

.hamburger {
	margin-top: .3em;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: relative;
}

.hamburger-top {
	top: 10px;
}

.hamburger-middle {
	top: 20px;
}

.hamburger-bottom {
	top: 30px;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
	left: 5px;
	width: 40px;
	height: 5px;
	position: absolute;
	background: #FFBC42;
	transition: .5s;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.hamburger-top-active {
	top: 20px;
	transform: rotate(135deg);
}
.hamburger-middle-active {
	visibility: hidden;
	opacity: 0;
}
.hamburger-bottom-active {
	top: 20px;
	transform: rotate(45deg);
}

/*** Navigation ***/

.navbar {
	visibility: hidden;
	opacity: 0;
	transition: .5s;
}

.navbar-hamburger {
	visibility: visible;
	opacity: 1;
}

.navbar-container {
	transform: translateY(100%);
}

.main-nav li {
	margin: 0;
	padding: 10px;
	list-style: none;
	border-bottom: solid 1px #e0e3da;
	transition: all .3s ease;
}

.main-nav a {
	padding: 10px 15px;
	display: block;
	font-size: 1.2em;
	text-decoration: none;
	color: #ffeee4;
}

.main-nav a:hover {
	color: #EC7357;
	transition: all .5s ease;
}

/*** Banner ***/

.banner-container {
	padding: 1em;	
}

.banner-container h1 {
	margin: 10em 0;
}

.banner-container,
.main-nav,
.logo-title-ham-container,
.content-container,
footer {
	text-align: center;
}

/*** Content ***/
.content-container {
	width: 80%;
	margin-top: 3em;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
}

.box-container {
	margin-top: 3em;
	padding-top: 0;
	padding-bottom: 2em;
	padding-left: 0;
	padding-right: 0;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	
}

.box-header-1 {
	height: 150px;
	background: linear-gradient(90deg, #9DC8C8 0%, #58C9B9 100%);
}

.box-header-2 {
	height: 150px;
	background: linear-gradient(90deg, #D4DFE6 0%, #8EC0E4 100%);
}

.box-header-3 {
	height: 150px;
	background: linear-gradient(90deg, #AAABD3 0%, #CBA6C3 100%);
}

.box-header-4 {
	height: 150px;
	background: linear-gradient(90deg, #379392 0%, #4FB0C6 100%);
}

.box-header-5 {
	height: 150px;
	background: linear-gradient(90deg, #D09E88 0%, #FADAD8 100%);
}


.box-detail h2{
	padding-top: 2em;
	padding-bottom: 2em;
}

/*** Footer ***/
footer {
	padding: 10em 0;
	background: #f0f5f9;
	background: #54546c;
	margin-top: 30px;
	text-align: center;
}

/*** Media Query ***/

@media (min-width: 830px) {

	.hamburger-container {
		display: none;
	}

	.header-container,
	.logo-title-ham-container,
	.navbar-container,
	.main-nav {
		display: flex;
	}

	.logo-title-ham-container {
		width: 30%;
		justify-content: flex-start;
	}

	.navbar-container {
		width: 70%;
		justify-content: flex-end;
	}

	.content-container {
		width: 50%;
	}

	.main-nav li {
		border-bottom: none;
	}

	.header,
	.header-hamburger {
		height: 80px;
	}

	.navbar {
		visibility: visible;
		opacity: 1;
	}

}

